@import "tailwindcss";

@theme {
    --white: #fbf1ef;
    --red: #d20a2e;
    --hoverred: #f9859a;
    --green: #b4ebe6;
}

body{
    background-color: #ffffff;
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
}

/* Image strip */
@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    display: flex;
    animation: marquee 10s linear infinite;
}