@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Dongle&family=Engagement&family=Londrina+Shadow&display=swap');

@import "tailwindcss";

@theme {
    --white: #fbf1ef;
    --red: #d20a2e;
    --green: #b4ebe6;
    --hovergreen: #80cbc4;
    --darkgreen: #005135;
    --navyblue: #18375d;
}

body {
    background-color: #ffffff;
    font-family: DM serif text, serif;
}

/* Texts */
.playful-heading {
    font-family: 'Londrina Shadow',
        cursive;
    font-weight: 400;
    color: var(--navyblue);
}

.buy-eat {
    font-family: 'Engagement', cursive;
    font-size: 4rem;
    color: var(--navyblue);
}

.nav-text {
    font-family: Dongle, sans-serif;
}

/* Navbar*/
nav {
    font-family: Dongle, sans-serif;
    font-size: 1.5rem;
    color: var(--navyblue);
}

/* Image strip */
@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    display: flex;
    animation: marquee 20s linear infinite;
}

/* Sectional animation */
@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-170px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.animate-appear {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}